{{ header }}
<style>
.d-social-login__button-list{
  margin-left: 40%;
}
</style>
<div id="account-login" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <div class="row">
        {# <div class="col-sm-6">
          <div class="well">
            <h2>{{ text_new_customer }}</h2>
            <p><strong>{{ text_register }}</strong></p>
            <p>{{ text_register_account }}</p>
            <a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div> #}
        <div class="col-sm-6">
          {# <div class="well"> #}
            {# <h2>{{ text_returning_customer }}</h2>
            <p><strong>{{ text_i_am_returning_customer }}</strong></p> #}
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label" for="input-email" style="font-size: 18px;">Email</label>
                <input type="text" style="border: none; height: 60px; border-radius: 10px; font-size: 18px;" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-password" style="font-size: 18px;">Password</label>
                <input type="password" name="password" style="border: none; height: 60px; border-radius: 10px; font-size: 18px;" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" /></div>
              <input type="submit" style="width: 100%; padding: 20px; font-size: 22px; border-radius: 40px; background: #333; color: #fff;" value="Sign In" class="btn btn-primary" />
              
                <a href="{{ forgotten }}" class="text-center" style="display: block; margin-top: 20px; font-size: 18px; color: #555;">{{ text_forgotten }}</a>
                <p class="text-center" style="display: block; margin-top: 20px; font-size: 18px; color: #555;">Don't have account<a href="{{ register }}" style="color: red;"> Register Here !</a></p>
                <h3 class="text-center" style="color: #999;"> OR Login With</h3>
                {{ content_top }}
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}
            </form>
          {# </div> #}
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}