<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />
	{% if description %}
	<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

	{# Mahardhi Edit #}
	<script src="catalog/view/javascript/mahardhi/jquery.elevateZoom.min.js"></script>
	<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
	<script src="catalog/view/javascript/mahardhi/owl.carousel.min.js"></script>
	<script type="text/javascript" src="catalog/view/javascript/mahardhi/quickview.js"></script>
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.carousel.min.css" rel="stylesheet">
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.theme.default.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css">
	{# End #}

	{% if advanceSearch %}
	<script src="catalog/view/javascript/mahardhi/mahardhi_search.js"></script>
	{% endif %}
	{{ inline_style }}
	<link href="catalog/view/theme/mahardhi/stylesheet/stylesheet.css" rel="stylesheet">
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/animate.min.css" rel="stylesheet">
	{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{# Mahardhi Edit #}
	{% if direction == 'rtl' %}
	<link href="catalog/view/theme/mahardhi/stylesheet/mahardhi/rtl.css" rel="stylesheet">
	{% endif %}
	{# End #}
	{% for script in scripts %}
	<script src="{{ script }}"></script>
	{% endfor %}
	<script src="catalog/view/javascript/common.js"></script>
	{# Mahardhi Edit #}
	<script src="catalog/view/javascript/mahardhi/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/mahardhi/stylesheet/mahardhi/jquery-ui.min.css">
	<script src="catalog/view/javascript/mahardhi/custom.js"></script>
	{# End #}
	{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %}
	{{ analytic }}
	{% endfor %}


</head>

<body class="{{ class }}">
	<!-- 
	<div class="loader"></div> -->
	<style>
		#topCategoryList {
			z-index: 9999999;
		}

		._cat {
			display: inline-flex;
			align-items: center;
			border-radius: 12px;
			padding: 4px 8px;
			min-width: 130px;
			margin-right: 10px;
			margin-left: 10px;
			background: #fff;
		}

		._cat img {
			height: 30px;
			margin-right: 5px;
		}

		._cat span {
			font-size: 18px;
		}

		._cat.active,
		._cat:hover,
		._cat.focus {
			background: var(--secondary-color);
			color: var(--primary-hover-color);
		}

		body ::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 0;
		}

		body ::-webkit-scrollbar-track {
			background-color: #fff;
			border-radius: 0;
		}

		.text-danger {
			color: #df352e;
		}

		#floater_menu {
			position: fixed;
			bottom: 70px;
			right: 20px;
			z-index: 999999;
		}

		.scrollToTop {
			display: none !important;
		}

		#store_logo {
			width: 98px;
			margin: 0 auto;
			border-radius: 14px;
			margin-bottom: -12px;
			z-index: 9999;
			position: relative;
			background: #fff;
		}

		#slider {
			margin-bottom: -24px;
			position: relative;
			text-align: center;
			display: flex;
			justify-content: center;
			padding: 0px;
			max-height: 420px;
		}

		#slider .owl-dots {
			position: absolute;
			bottom: 28px;
		}

		#slider .owl-dot {
			background: #ffffffb8;
			border: none;
			width: 10px;
			height: 10px;
			zoom: initial;
		}

		#slider .owl-dot.active {
			background: #fff;
		}

		#slider .owl-dot span {
			display: none;
		}

		#slider .slider_img {
			min-height: 240px;
			width: 100%;
			padding: 0px;
			margin-top: -28px;
			margin-bottom: -58px;
		}

		.ac_dropdown {
			border-radius: 8px 0px 0px 8px;
			z-index: 999999;
			box-shadow: rgb(255 255 255) -7px 0px 0px 0px;
		}

		.__search_btn {
			float: left;
			width: 20%;
			padding: 7px;
			color: #000;
			background: #fff;
			border-left: none !Important;
			cursor: pointer;
			border: 1px solid #ccc;
			border-left: none;
			border-radius: 0px 6px 6px 0px;
		}

		.__search_input {
			font-size: 17px;
			border-right: none !important;
			float: left;
			width: 78%;
			background: #fff;
			padding: 2px 12px;
			border: 1px solid #ccc;
			height: 37px;
			border-radius: 6px 0px 0px 6px;
		}

		.__header {
			position: fixed;
			background: #fff;
			z-index: 999999;
			width: 100%;
			padding: 15px 0px 15px 0px !important;
			box-shadow: 1px 2px 10px 0px #9a999991;
			transition: 180ms;
		}

		.__scroll_show {
			padding-top: 8px;
		}

		.ac_cart_items {
			border-bottom: 1px solid #ccccccb8;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}

		.ac_cart_items:last-child {
			border-bottom: none;
		}

		.ac_cart_items .item_name {
			font-size: 16px;
			color: #000;
			font-weight: normal;
			margin-bottom: 2px;
		}

		.ac_cart_items .item_options {
			display: block;
			font-size: 12px;
			color: #595959;
		}

		.ac_cart_items .item_price {
			font-size: 16px;
			text-align: right;
		}

		.ac_product_action {
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.ac_add_to_cart {
			border-radius: 7px;
			color: #fff;
			padding: 0px;
			font-size: 14px;
			width: 75px;
			height: 30px;
		}

		.ac_add_to_cart .plus_icon {}

		.ac_cart_btn {
			border: 1px solid #000;
			border-radius: 8px;
			display: flex;
			width: 75px;
			padding: 0px;
			height: 30px;
		}

		.ac_cart_btn-minus {
			border: none;
			background: transparent;
			border-right: 1px solid #000;
		}

		.ac_cart_btn-input {
			width: 60%;
			border: none;
			background: transparent;
			text-align: center;
		}

		.ac_cart_btn-plus {
			border: none;
			background: transparent;
			border-left: 1px solid #000;
		}

		.__cart_orders {
			background-color: rgb(255, 255, 255);
			padding: 15px;
			max-height: 300px;
			overflow: auto;
		}

		.__cart_orders::before {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgb(0 0 0 / 40%);
			z-index: -1;
		}

		.floater_cart {
			position: fixed;
			z-index: 999999;
			bottom: 0;
			width: 100%;
		}
	</style>
	<div class="container-fluid" style="padding: 0;">

		<div class="row __header_change" style="background: #fff; margin: 0px; padding: 15px 0px 0px 0px;">
			<div class="col-xs-10 __scroll_show hidden">
				<input type="search" class="__search_input" placeholder="Search" />
				<button type="submit" class="__search_btn"><i class="fa fa-search" style="font-size: 19px;
						color: #b4b4b4;"></i></button>
			</div>
			<div class="col-xs-4 __scroll_hidden " style="align-items: center; display: flex;padding-top: 10px;">
				<img src="ac_dev/open_now.png" style="width: 28px;margin-right: 8px;" />
				<span class="open-time">{{ storestatus }}</span>
			</div>
			<div class="col-xs-4 __scroll_hidden">
				{% if logo %}
				<a href="{{ home }}">
					<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" id="store_logo" />
				</a>
				{% else %}
				<h1><a href="{{ home }}">{{ name }}</a></h1>
				{% endif %}

			</div>

			<div class="col-xs-4 __account_scroll text-right" style="padding-top: 10px;">
				<span class=" __scroll_hidden">{{ language }}</span>
				<a href="{{ account }}" title="My Account" class="dropdown-toggle" data-toggle="dropdown">
					<img src="ac_dev/accountpng.png" style="width: 32px;" />
				</a>
				<ul class="dropdown-menu dropdown-menu-right account-link-toggle ac_dropdown">
					{% if logged %}
					<li><a href="{{ account }}">{{ text_account }}</a></li>
					<li><a href="{{ order }}">{{ text_order }}</a></li>
					<li><a href="{{ reward }}">{{ text_reward }}</a></li>
					<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
					<!-- <li><a href="{{ download }}">{{ text_download }}</a></li> -->
					<li><a href="{{ logout }}">{{ text_logout }}</a></li>
					{% else %}
					<li><a href="{{ register }}">{{ text_register }}</a></li>
					<li><a href="{{ login }}">{{ text_login }}</a></li>
					{% endif %}
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>

		<div id="slider" class="owl-carousel owl-theme">
			{% set count = 0 %}
			{% for slide in slider %}
			<img src="image/{{ slide.image }}" class="slider_img" alt="" />
			{% set count = count + 1 %}
			{% endfor %}
		</div>
		<script>
			$(function () {

				$("#slider").owlCarousel({
					items: 1,
					loop: true,
					margin: 10,
					nav: false,
					autoplay: true,
					autoplayTimeout: 2000
				})

			})
		</script>

		<div id="search">
			<div class="col-sm-12"
				style="width: 100%; display: flex; justify-content: space-around; align-content: space-around;">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="I want..." style="border-radius: 7px 0px 0px 7px;
				padding: 2px 15px;
				height: 42px;
				border: 1px solid #ccc;">
					<span class="input-group-btn">
						<button class="btn btn-primary " type="button"
							style="height: 42px;background: var(--secondary-color);"><span class="glyphicon glyphicon-search"
								aria-hidden="true">
							</span> Search</button>
					</span>
				</div>
			</div>
		</div>

		<div id="category">
			<div class="col-sm-12" style="    margin-top: 20px;
    display: flex;
    overflow: auto;">
				<div class="_cat">
					<img src="/image/catalog/birthday-cake.png" />
					<span>Tortes</span>
				</div>
				<div class="_cat">
					<img src="/image/catalog/Category/gateau.png" />
					<span>Gateau</span>
				</div>
				<div class="_cat" style="min-width: 180px;">
					<img src="/image/catalog/Category/pizza-box.png" />
					<span>Shareable Box</span>
				</div>
				<div class="_cat">
					<img src="/image/catalog/Category/bread.png" />
					<span>Bakery</span>
				</div>
				<div class="_cat" style="min-width: 190px;">
					<img src="/image/catalog/moon-cake.png" />
					<span>Oriental Sweets</span>
				</div>

			</div>
		</div>

		<div style="    margin-top: 10px;"></div>

		<div id="product">
			<div class="col-sm-12" style="    padding: 10px;  ">
				<div class="product_card" style=" display: flex;
			background: #fff;
			padding: 12px;
			align-items: flex-start;    padding-bottom: 0px;">
					<img src="/image/cache/catalog/Seller_24/products/Tortes/moussecho-20201224001804-228x228.jpg" style="    width: 100px;
					border-radius: 11px;
					margin-right: 10px;" />
					<div class="product_info">
						<div class="product_name" style="display: block;
					font-size: 16px;margin-bottom: 10px;">
							<span class="pull-left">MOUSSE</span>
							<span class="pull-right" style="color:#df342f"><b>295 EGP</b></span>
							<div class="clearfix"></div>
						</div>
						<p class="product_rating" style="    color: #f5ac42;
					margin-bottom: 5px;
			">
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
						</p>
						<p class="product_desc" style="     font-size: 14px;
					font-weight: normal;
					color: #2e2e2e;">
							Chocolate sponge cake covered with chocolate mousse, crushed almond and a layer of raspberry decorat..
						</p>
						<div class="ac_product_action text-right" style="padding: 10px;">

							<div class="input-group pull-right ac_cart_btn hidden">
								<input type="button" value="-" class="button-minus text-danger ac_cart_btn-minus" data-field="quantity">
								<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field ac_cart_btn-input">
								<input type="button" value="+" class="button-plus text-danger ac_cart_btn-plus" data-field="quantity">
							</div>

							<button class="btn btn-primary ac_add_to_cart __add_order"><span class="plus_icon">+</span> Add</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12" style="    padding: 10px;   ">
				<div class="product_card" style="    display: flex;
			background: #fff;
			padding: 12px;
			align-items: flex-start;">
					<img src="/image/cache/catalog/Seller_24/products/Tortes/file-1597225534-NAPF9J-20201224000354-228x228.jpg"
						style="    width: 100px;
					border-radius: 11px;
					margin-right: 10px;" />
					<div class="product_info">
						<div class="product_name" style="display: block;
					font-size: 16px;margin-bottom: 10px;">
							<span class="pull-left">FOUR</span>
							<span class="pull-right" style="color:#df342f"><b>345 EGP</b></span>
							<div class="clearfix"></div>
						</div>
						<p class="product_rating" style="    color: #f5ac42;
					margin-bottom: 5px;
			">
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
							<i class="fa fa-star" style="font-size: 18px;"></i>
						</p>
						<p class="product_desc" style="     font-size: 14px;
					font-weight: normal;
					color: #2e2e2e;">
							Chocolate sponge cake covered with chocolate mousse, crushed almond and a layer of raspberry decorat..
						</p>
						<div class="ac_product_action text-right" style="padding: 10px;">

							<div class="input-group pull-right ac_cart_btn hidden">
								<input type="button" value="-" class="button-minus text-danger ac_cart_btn-minus" data-field="quantity">
								<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field ac_cart_btn-input">
								<input type="button" value="+" class="button-plus text-danger ac_cart_btn-plus" data-field="quantity">
							</div>

							<button class="btn btn-primary ac_add_to_cart __add_order"><span class="plus_icon">+</span> Add</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12" style="    padding: 10px;    ">
			<div class="product_card" style="display: flex; background: #fff; padding: 12px; align-items: flex-start;">
				<img src="/image/cache/catalog/Seller_24/products/Tortes/file-1597227439-2IRF2W-20201224000354-228x228.jpg"
					style="    width: 100px;
				border-radius: 11px;
				margin-right: 10px;" />
				<div class="product_info">
					<div class="product_name" style="display: block;
				font-size: 16px;margin-bottom: 10px;">
						<span class="pull-left">PROFITEROLE</span>
						<span class="pull-right" style="color:#df342f"><b>220 EGP</b></span>
						<div class="clearfix"></div>
					</div>
					<p class="product_rating" style="color: #f5ac42; margin-bottom: 5px;">
						<i class="fa fa-star" style="font-size: 18px;"></i>
						<i class="fa fa-star" style="font-size: 18px;"></i>
						<i class="fa fa-star" style="font-size: 18px;"></i>
						<i class="fa fa-star" style="font-size: 18px;"></i>
						<i class="fa fa-star" style="font-size: 18px;"></i>
					</p>
					<p class="product_desc" style="     font-size: 14px;
				font-weight: normal;
				color: #2e2e2e;">
						Chocolate sponge cake covered with chocolate mousse, crushed almond and a layer of raspberry decorat..
					</p>
					<div class="ac_product_action text-right" style="padding: 10px;">

						<div class="input-group pull-right ac_cart_btn hidden">
							<input type="button" value="-" class="button-minus text-danger ac_cart_btn-minus" data-field="quantity">
							<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field ac_cart_btn-input">
							<input type="button" value="+" class="button-plus text-danger ac_cart_btn-plus" data-field="quantity">
						</div>

						<button class="btn btn-primary ac_add_to_cart __add_order"><span class="plus_icon">+</span> Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="floater_menu" style="bottom:20px;">
		<button class="btn btn-primary" id="btnMenuBar" style="border-radius: 20px; text-transform: capitalize;"> <i
				class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Menu </button>
	</div>
	{{ cart }}
	<script>
		$(function () {

			// plus and minus buttons
			function incrementValue(e) {
				e.preventDefault();
				var fieldName = $(e.target).data('field');
				var parent = $(e.target).closest('div');
				var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
				if (!isNaN(currentVal)) {
					parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
				} else {
					parent.find('input[name=' + fieldName + ']').val(0);
				}
			}

			function decrementValue(e) {
				e.preventDefault();
				var fieldName = $(e.target).data('field');
				var parent = $(e.target).closest('div');
				var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

				if (!isNaN(currentVal) && currentVal > 0) {
					var crval = currentVal - 1;
					parent.find('input[name=' + fieldName + ']').val(crval);
					if (crval == 0) {
						parent.find('input[name=' + fieldName + ']').val(1);
						parent.parent().find('.__add_order').removeClass('hidden');
						parent.addClass('hidden');
					}
				} else {
					parent.find('input[name=' + fieldName + ']').val(0);
				}
			}

			$('.input-group').on('click', '.button-plus', function (e) {
				incrementValue(e);
			});

			$('.input-group').on('click', '.button-minus', function (e) {
				decrementValue(e);
			});

			// close cart orders
			$(".__close_cart").click(function () {
				$(".__cart_orders").slideToggle("fast");
			});

			// cart items open and close
			$(".__cart_items").click(function () {
				$(".__cart_orders").slideToggle("fast");
			});

			// add order to cart 
			$(".__add_order").click(function () {
				$("#floater_menu").css("bottom", "70px");
				$("#floater_cart").slideDown("fast");
				$(this).addClass('hidden');
				$(this).parent().find('.input-group').removeClass('hidden');
			});

			// menu on scroll
			window.addEventListener("scroll", function (event) {
				var top = this.scrollY;
				var search_height = ($("#search").position().top);

				//console.log(parseInt(top)+'-'+parseInt(search_height));

				if (parseInt(top) >= parseInt(search_height)) {
					$(".__scroll_hidden").addClass('hidden');
					$(".__scroll_show").removeClass('hidden');
					$(".__account_scroll").removeClass('col-xs-4').removeClass("text-left");
					$(".__account_scroll").addClass('col-xs-2');
					$(".__header_change").addClass("__header");
				}
				else {
					$(".__scroll_hidden").removeClass('hidden');
					$(".__scroll_show").addClass('hidden');
					$(".__account_scroll").addClass('col-xs-4').addClass("text-right");
					$(".__account_scroll").removeClass('col-xs-2');
					$(".__header_change").removeClass("__header");
				}
			}, false);


		})
	</script>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<br><br>
	<br>
	<br>

	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="header-top">
			<div class="contacts hidden-xs">
				<i class="fa fa-phone"></i>
				<div class="contact-text">
					<div>{{ text_contact }}:</div>
					<a href="{{ contact }}">{{ telephone }}</a>

				</div>
			</div>
			<!-- start logo -->
			<div id="logo">
				{% if logo %}
				<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
				{% else %}
				<h1><a href="{{ home }}">{{ name }}</a></h1>
				{% endif %}
			</div>
			<div class="header-right header-links">
				<!-- start cart -->
				<div class="header_cart">{{ cart }}</div>


			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom-inner">
				<!-- start menu -->
				{{ menu }}
				<!-- start search -->
				<div class="btn_search">
					<div class="header-search">
						{{ search }}
					</div>
				</div>

			</div>
		</div>
	</div>
	</header>


	<div class='floaterdiv hidden'>
		<div id="mySideshare" class="icon-bar sharebar hidden">
			<div id='sharebutton' class="facebook">

				{% if facebook_link %}
				<a href="https://{{ facebook_link }}" class="facebook" target="blank"><i class="fa fa-facebook"></i></a>
				{% endif %}
				{% if wesbsite_link %}
				<a href="https://{{ wesbsite_link }}" class="instagram" target="blank"><i class="fa fa-globe"
						aria-hidden="true"></i></a>
				{% endif %}
				{% if instagram_link %}
				<a href="https://{{ instagram_link }}" class="instagram" target="blank"><i class="fa fa-instagram"
						aria-hidden="true"></i></a>
				{% endif %}
				{% if whatsapp_link %}
				<a href="{{ whatsapp_link }}" class="whatsapp" aria-hidden="true" target="_blank"><i
						class="fa fa-whatsapp"></i></a>

				{% endif %}
				| <i class="fa fa-link "></i>
			</div>
		</div>

		<div id="mySidenav" class='icon-bar mySideshare sharebutton'>
			<a href="#" class="linkedin" data-toggle="modal" data-target="#myModal"><i class="">{{ order_tracking2 }}</i></a>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog ">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{ tracking_order }}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">{{ order_no }}</label>
						<input type="text" id="order_no" aria-describedby="emailHelp" name="orderno"
							value="{% if tracking_order_no %} {{tracking_order_no}} {% endif %}">
						<button onclick="trackorder();">{{ track }}</button>
					</div>
					<div id="result"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{ close }}</button>
				</div>
			</div>

		</div>
	</div>

	<script>

		{% if tracking_order_no %}
		var trackno = {{ tracking_order_no }};
		if (trackno) {
			$(".linkedin").on('click', function () {
				trackorder();
			});

		}
		{% endif %}
		function trackorder() {
			let orderno = $('#order_no').val();

			$.ajax({
				url: 'index.php?route=order_tracking/order_tracking/track',
				type: 'post',
				dateType: 'json',
				data: { order_no: orderno, sellerstore: '{{ sellerstore }}' },
				success: function (json) {
					if (json.success) {
						console.log(json['status_name']['name']);
						$('#result').html('<div class="orderstatus">Order Status : ' + json['status_name']['name'] + '</div>');
					} else {
						$('#result').html('<div class="orderstatus">' + json['message'] + '</div>');
					}
				}
			});
		};
	</script>
	<!--End Modal -->

	<footer>
		<div class="footer-top">
			<div class="container">
				{{ footer_top }}
				<div class="row footer-middle">
					<div class="col-sm-6">
						<div class="footer-inner">
							{{ footer_left }}
						</div>
					</div>

					{# <div class="col-sm-4">
						<div class="footer-inner clearfix">
							{% if informations %}
							<div class="footer-inner1 col-sm-6">
								<h5>{{ text_information }}</h5>
								<ul class="list-unstyled">
									{% for information in informations %}
									<li><a href="{{ information.href }}">{{ information.title }}</a></li>
									{% endfor %}
									<li><a href="{{ account }}">{{ text_account }}</a></li>

								</ul>
							</div>
							{% endif %}

							<div class="footer-inner2 col-sm-6">
								<h5>{{ text_service }}</h5>
								<ul class="list-unstyled">
									<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
									<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
									<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
									<li><a href="{{ special }}">{{ text_special }}</a></li>
									<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
									<li><a href="{{ contact }}">{{ text_contact }}</a></li>
								</ul>
							</div>

						</div>
					</div> #}

					<div class="col-sm-6">
						<div class="footer-inner">
							<h5 class="toggled title">{{ timmings }}</h5>
							{% if store_timings %}
							<ul class="list-unstyled">
								<li><label style="margin-right: 10px;">
										<h4>{{ text_day }}</h4>
									</label>&nbsp; | &nbsp;
									<label style="margin-right: 10px;">
										<h4>{{ text_opening }}</h4>
									</label>&nbsp; | &nbsp;
									<label>
										<h4>{{ text_close }}</h4>
									</label>
								</li>
								{% for timings in store_timings %}
								{% if lang == 'ar' %}
								{% if timings.day_name == 'Saturday' %}
								{% set newday = 'السبت' %}
								{% endif %}
								{% if timings.day_name == 'Sunday' %}
								{% set newday = 'الاحد' %}
								{% endif %}
								{% if timings.day_name == 'Monday' %}
								{% set newday = 'الاثنين' %}
								{% endif %}
								{% if timings.day_name == 'Tuesday' %}
								{% set newday = 'الثلاثاء' %}
								{% endif %}
								{% if timings.day_name == 'Wednesday' %}
								{% set newday = 'الاربعاء' %}
								{% endif %}
								{% if timings.day_name == 'Thursday' %}
								{% set newday = 'الخميس' %}
								{% endif %}
								{% if timings.day_name == 'Friday' %}
								{% set newday = 'الجمعه' %}
								{% endif %}

								{% endif %}

								{% if timings.day_name == "now"|date('l') %}
								<li style="color:red;font-weight:bold;"><label style="margin-right: 10px;">{% if lang == 'ar' %} {{
										newday }} {% else %} {{ timings.day_name }} {% endif %}</label>&nbsp; | &nbsp;
									<label style="margin-right: 10px;">{{ timings.open_time|date('h:i A') }}</label>&nbsp; | &nbsp;
									<label>{{ timings.close_time|date('h:i A') }}</label>
								</li>
								{% else %}
								<li><label style="margin-right: 10px;"> {% if lang == 'ar' %} {{ newday }} {% else %} {{
										timings.day_name }} {% endif %} </label>&nbsp; | &nbsp;
									<label style="margin-right: 10px;">{{ timings.open_time|date('h:i A') }}</label>&nbsp; | &nbsp;
									<label>{{ timings.close_time|date('h:i A') }}</label>
								</li>

								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
							{#}{{ footer_right }} #}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom clearfix">
			<div class="container">
				<div class="footer-bottom-inner">
					<p class="copyright">{{ powered }} &nbsp;&nbsp;</p>
					<p class="copyright">
						{% for information in informations %}
						<a href="{{ information.href }}"> {{ information.title }} </a> &nbsp;&nbsp;
						{% endfor %}
					</p>
				</div>
			</div>
		</div>
		{% for script in scripts %}
		<script src="{{ script }}"></script>
		{% endfor %}

	</footer>
	<!-- top scroll -->
	<a href="#" class="scrollToTop back-to-top" data-toggle="tooltip" title="{{ text_backtop }}"></a>
	<!-- FIRE BASE PUSH NOTIFICATIONS -->
	<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-messaging.js"></script>
	<script>
		/*
				var firebaseConfig = {
								apiKey: "AIzaSyDsRoYUkVAmpjUeyjSQjxIcPSg8Us5WXF4",
								authDomain: "el-order-58003.firebaseapp.com",
								databaseURL: "https://el-order-58003.firebaseio.com",
								projectId: "el-order-58003",
								storageBucket: "el-order-58003.appspot.com",
								messagingSenderId: "129287823104",
								appId: "1:129287823104:web:849ac6770bbaaa478a1de5",
								measurementId: "G-B6F3HYQQ13"
						};*/
		var firebaseConfig = {
			apiKey: "AIzaSyA-xZHyg5TfODQd36knDWPMsWT57z-R2Sg",
			authDomain: "el-order-30130.firebaseapp.com",
			databaseURL: "https://el-order-30130.firebaseio.com",
			projectId: "el-order-30130",
			storageBucket: "el-order-30130.appspot.com",
			messagingSenderId: "277138525933",
			appId: "1:277138525933:web:c1a80a3ed701293ede46e4",
			measurementId: "G-183DPNZLJB"
		};
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
		const messaging = firebase.messaging();

		function IntitalizeFireBaseMessaging() {
			// Add the public key generated from the console here.

			messaging.getToken({ vapidKey: "BD56_VxtCHHFHWV2X6h2sReadxxPqKGHXQcmGAy_OkLj4bgaS04cv1OcbNVJWPTIqqR5eAb4Ce_OHuHfBlNgJ-w" })
				//   .requestPermission()
				.then(function () {
					console.log("Notification Permission");
					return messaging.getToken();
				})
				.then(function (token) {
					console.log("Token : " + token);
					//  document.getElementById("token").innerHTML=token;
					$.ajax({

						url: 'index.php?route=common/header/pushnotifications',
						type: 'post',
						data: { token: token },
						dataType: 'json',

						success: function () {

						},
						error: function () {

						},

					});
				})
				.catch(function (reason) {
					console.log(reason);
				});
		}

		messaging.onMessage(function (payload) {
			console.log(payload);

			$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + payload.notification.body + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			$('html, body').animate({ scrollTop: 0 }, 'slow');
			const notificationOption = {
				body: payload.notification.body,
				icon: payload.notification.icon
			};

			if (Notification.permission === "granted") {
				var notification = new Notification(payload.notification.title, notificationOption);

				notification.onclick = function (ev) {
					ev.preventDefault();
					window.open(payload.notification.click_action, '_blank');
					notification.close();
				}
			}

		});

		messaging.onTokenRefresh(function () {
			messaging.getToken()
				.then(function (newtoken) {
					console.log("New Token : " + newtoken);
				})
				.catch(function (reason) {
					console.log(reason);
				})
		})
		IntitalizeFireBaseMessaging();
	</script>
	<!-- FIRE BASE PUSH NOTIFICATIONS END -->

	<link href="catalog/view/theme/default/stylesheet/enhanced.css" rel="stylesheet">


</body>

</html>