<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
	<head>
		<meta charset="UTF-8" />
		<title>{{ title }}</title>
		<base href="{{ base }}" />
		<link href="{{ HTTPS_SERVER }}catalog/view/javascript/purpletree/bootstrap1/css/bootstrap.css" rel="stylesheet" media="all" />
		<script type="text/javascript" src="{{ HTTPS_SERVER }}catalog/view/javascript/purpletree/jquery/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{ HTTPS_SERVER }}catalog/view/javascript/purpletree/bootstrap1/js/bootstrap.min.js"></script>
		<link href="{{ HTTPS_SERVER }}catalog/view/javascript/purpletree/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
		<link type="text/css" href="{{ HTTPS_SERVER }}catalog/view/javascript/purpletree/css/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
	</head>
	<body>
		<div class="container">
			{% for order in orders %}
			<div style="page-break-after: always;">
			<table class="table">
					<tbody>
						<tr>
							<td><img src="{{ order.store_logo }}" class="img-responsive" style="width: 100px; display: block;margin-left: auto;  margin-right: auto;"></td>
						</tr>
					</tbody>
				</table>
			<h4 style="margin:0px;">{{ text_order_detail }}</h4>
			<p>====================</p>
			
			

				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><b>Date : </b>{{ order.date_added }}</td>
							<td><b>Order No : </b> {{ order.order_no }}</td>
						</tr>
						<tr>
							{# <td><b>Cashier </b> : {{ order.name  }}</td> #}
							<td colspan="2"><b>Type : </b> #{{ order.payment_method }}</td>
						</tr>
					</tbody>
				</table>

					<h4 style="margin:0px;">Customer Details</h4>
					<p> ====================</p>


				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><b>Name : </b> {{ order.payment_name }}</td>
							<td><b>Mobile : </b> {{ order.store_telephone }}</td>
						</tr>
						<tr>
							<td colspan="2"><b>Address :</b>&nbsp;&nbsp;{{ order.payment_address }}</td>
						</tr>
					</tbody>
				</table>
					
				<h4 style="margin:0px;">Order Details</h4>
				<p> ====================</p>
				
				<table class="table table-bordered">
					<thead>
						<tr>
							<td class="text-right"><b>{{ column_quantity }}</b></td>
							<td><b>Item</b></td>
							<td class="text-right"><b>{{ column_price }}</b></td>
							{# <td><b>{{ column_model }}</b></td> #}
							<td class="text-right"><b>Amount</b></td>
						</tr>
					</thead>
					<tbody>
						{% for product in order.product %}
						<tr>
							<td class="text-right">{{ product.quantity }}</td>
							<td>{{ product.name }}
								{% for option in product.option %}
								<br />
								&nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
							{% endfor %}</td>
							{# <td>{{ product.model }}</td> #}
							<td class="text-right">{{ product.price }}</td>
							<td class="text-right">{{ product.total }}</td>
						</tr>
						{% endfor %}
						{% for voucher in order.voucher %}
						<tr>
							<td>{{ voucher.description }}</td>
							<td></td>
							<td class="text-right">1</td>
							<td class="text-right">{{ voucher.amount }}</td>
							<td class="text-right">{{ voucher.amount }}</td>
						</tr>
						{% endfor %}
						{% for total in order.total %}
						<tr>
							<td class="text-right" colspan="3"><b>{{ total.title }}</b></td>
							<td class="text-right">{{ total.text }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if order.comment %}
				<table class="table table-bordered">
					<thead>
						<tr>
							<td><b>{{ text_comment }}</b>
							
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ order.comment }}</td>
						</tr>
					</tbody>
				</table>

					

				{% endif %}
				<table class="table">
					<tbody>
						<tr>
							<td>
							<svg width="200" height="200" style="display: block; margin: auto;"
 								 xmlns="#">
  							<image href="{{ filename }}"  width="100%"/>
							</svg>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% endfor %}

		</div>
	</body>
</html>