{{ header }}
<style type="text/css">
.toggle,.toggle:after,.toggle:before{-webkit-transition:all .2s cubic-bezier(.445,.05,.55,.95)}.addpad{padding-top:0;padding-bottom:0}.toggleWrapper{position:absolute;top:50%;overflow:hidden}.toggleWrapper input{position:absolute;left:-99em}.toggle{cursor:pointer;display:inline-block;position:relative;width:120px;height:30px;background:#ccc;border-radius:5px;transition:all .2s cubic-bezier(.445,.05,.55,.95)}.toggle:after,.toggle:before{position:absolute;line-height:30px;font-size:14px;z-index:2;transition:all .2s cubic-bezier(.445,.05,.55,.95)}.toggle:before{content:"OFF";left:20px;color:#ccc}.toggle:after{content:"ON";right:20px;color:#fff}.toggle__handler{display:inline-block;position:relative;z-index:1;background:#fff;width:65px;height:24px;border-radius:3px;top:3px;left:3px;-webkit-transition:all .2s cubic-bezier(.445,.05,.55,.95);transition:all .2s cubic-bezier(.445,.05,.55,.95);-webkit-transform:translateX(0);transform:translateX(0)}input:checked+.toggle{background:#66B317}input:checked+.toggle:before{color:#fff}input:checked+.toggle:after{color:#66B317}input:checked+.toggle .toggle__handler{width:54px;-webkit-transform:translateX(60px);transform:translateX(60px);border-color:#fff}
.adw+.form-group{border-top:1px solid #eee}.form-horizontal .nav>li>a{outline:0}.form-horizontal .nav-tabs>li.active>a{border-top:2px solid #39B3D7!important}
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		<span style="padding-right:20px;">
		<a href="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=AlexDW" target="_blank" data-toggle="tooltip" title="Get more extensions" class="btn btn-info"><i class="fa fa-download"></i> More extensions</a></span>
        <button type="submit" form="form-latest" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>ShareCart 1.05</h1>
      <ul class="breadcrumb">
	   {% for breadcrumb in breadcrumbs %}
      
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		   {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error.error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error.error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-latest" class="form-horizontal">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ text_settings }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">

          <div class="form-group">
            <label class="col-sm-3 col-xs-4 control-label">{{ entry_status }}</label>
            <div class="col-sm-3 col-xs-2">
			<div class="toggleWrapper">
			{% if sharecart_status %}
				<input type="checkbox" id="input-status" name="sharecart_status" value="1" checked="checked" />
				{% else %}
				<input type="checkbox" id="input-status" name="sharecart_status" value="1" />
				{% endif %}
			<label class="toggle" for="input-status"><span class="toggle__handler"></span>
			</label>
			</div>
			</div>
		  </div>

	<div class="adw alert alert-info">
		<p>{{ help_share }}</p>
	</div>

          <div class="form-group">
            <label class="col-sm-3 col-xs-4 control-label">{{ entry_share_onlyreg }}</label>
            <div class="col-sm-3 col-xs-2">
			<div class="toggleWrapper">
			{% if sharecart_share_onlyreg %}
				<input type="checkbox" id="input-share_onlyreg" name="sharecart_share_onlyreg" value="1" checked="checked" />
            {% else %}
				<input type="checkbox" id="input-share_onlyreg" name="sharecart_share_onlyreg" value="1" />
             {% endif %}
			<label class="toggle" for="input-share_onlyreg"><span class="toggle__handler"></span>
			</label>
			</div>
			</div>
		  </div>
	<div class="adw alert alert-info">
		<p>{{ help_share_onlyreg }}</p>
	</div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-share_timer">{{ entry_share_timer }}</label>
            <div class="col-sm-3"><div class="input-group"><span class="input-group-addon">{{ ckday }}</span>
              <input type="text" name="sharecart_share_timer" value="{{ sharecart_share_timer is defined and sharecart_share_timer is not empty ? sharecart_share_timer : '14' }}" id="input-share_timer" class="form-control" />
            </div></div>

            <label class="col-sm-3 control-label" for="input-share_timeg">{{ entry_share_timeg}} </label>
            <div class="col-sm-3"><div class="input-group"><span class="input-group-addon">{{ ckday }}</span>
              <input type="text" name="sharecart_share_timeg" value="{{ sharecart_share_timeg is defined and sharecart_share_timeg is not empty ? sharecart_share_timeg : '3' }}" id="input-share_timeg" class="form-control" />
            </div></div>
          </div>
	<div class="adw alert alert-info">
		<p>{{ help_share_time }}</p>
	</div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_share_limitr }}</label>
            <div class="col-sm-3">
              <input type="text" name="sharecart_share_limitr" value="{{ sharecart_share_limitr is defined and sharecart_share_limitr is not empty ? sharecart_share_limitr : '40' }}" id="input-share_limitr" class="form-control" />
            </div>
            <label class="col-sm-3 control-label">{{ entry_share_limitg }}</label>
            <div class="col-sm-3">
              <input type="text" name="sharecart_share_limitg" value="{{ sharecart_share_limitg is defined and sharecart_share_limitg is not empty ? sharecart_share_limitg : '15' }}" id="input-share_limitg" class="form-control" />
            </div>
          </div>
	<div class="adw alert alert-info">
		<p>{{ help_share_limit }}</p>
	</div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_share_elimitr }}</label>
            <div class="col-sm-3">
              <input type="text" name="sharecart_share_elimitr" value="{{ sharecart_share_elimitr is defined and sharecart_share_elimitr is not empty ? sharecart_share_elimitr : '100' }}" id="input-share_elimitr" class="form-control" />
            </div>
            <label class="col-sm-3 control-label">{{ entry_share_elimitg}}</label>
            <div class="col-sm-3">
              <input type="text" name="sharecart_share_elimitg" value="{{ sharecart_share_elimitg is defined and sharecart_share_elimitg is not empty ? sharecart_share_elimitg : '30' }}" id="input-share_elimitg" class="form-control" />
            </div>
          </div>
	<div class="adw alert alert-info">
		<p>{{ help_share_elimit }}</p>
	</div>
 
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_share_redirect }}</label>
            <div class="col-sm-3">
              <input type="text" name="sharecart_share_redirect" value="{{ sharecart_share_redirect is defined and sharecart_share_redirect is not empty ? sharecart_share_redirect : 'checkout/cart' }}" id="input-share_redirect" class="form-control" />
            </div>
          </div>
	<div class="adw alert alert-info">
		<p>{{ help_share_redirect}}</p>
	</div>
</div>

		  </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}